server {
    listen 8080;
    server_name localhost;

    #charset koi8-r;
    #access_log  /var/log/nginx/host.access.log  main;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
    }

    location /api {
        proxy_pass http://api:8080;
    }

    location /billboard {
        proxy_pass ${LCD};
    }
}
